.floating{
  &.btn{
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 35px;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
  }
}
p.zip-city-info{
  color: #666;
  .title{
    color: #555;
  }
  .value{
    padding: 0 5px;
  }
}
app-overview{
  display: block;
}
.to-validate{
  color: red;
  animation: 2s animateMsg forwards;
}
@keyframes animateMsg {
  from {
    opacity:0;
    transform: translateY(-20px);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

